.vscode
_minted*

acmart.*
!acmart.cls

Presentation.nav
Presentation.snm
Presentation.vrb

*.aux
*.bbl
*.bcf
*.blg
*.cfg
*.cut
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.ps
*.rpi
*.run.xml
*.synctex.gz
*.tgz
*.thm
*.toc
*.zip
*~
